@font-face {
  font-family: 'icon_set_1';
  src: url('../font/icon_set_1__6c2a15fc.eot');
  src: url('../font/icon_set_1__6c2a15fc.eot') format('embedded-opentype'),
       url('../font/icon_set_1__7b8d1597.woff2') format('woff2'),
       url('../font/icon_set_1__51c0aa9c.woff') format('woff'),
       url('../font/icon_set_1__e0351051.ttf') format('truetype'),
       url('../font/icon_set_1__65e73a8e.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon_set_1';
    src: url('../font/icon_set_1__65e73a8e.svg') format('svg');
  }
}
*/
 
 [class^="icon_set_1_"]:before, [class*=" icon_set_1_"]:before {
  font-family: "icon_set_1";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon_set_1_icon_1:before { content: '\21'; } /* '!' */
.icon_set_1_icon_2:before { content: '\22'; } /* '&quot;' */
.icon_set_1_icon_3:before { content: '\23'; } /* '#' */
.icon_set_1_icon_4:before { content: '\24'; } /* '$' */
.icon_set_1_icon_5:before { content: '\25'; } /* '%' */
.icon_set_1_icon_6:before { content: '\26'; } /* '&amp;' */
.icon_set_1_icon_8:before { content: '\28'; } /* '(' */
.icon_set_1_icon_9:before { content: '\29'; } /* ')' */
.icon_set_1_icon_78:before { content: '\2a'; } /* '*' */
.icon_set_1_icon_77:before { content: '\2b'; } /* '+' */
.icon_set_1_icon_10:before { content: '\2c'; } /* ',' */
.icon_set_1_icon_11:before { content: '\2d'; } /* '-' */
.icon_set_1_icon_12:before { content: '\2e'; } /* '.' */
.icon_set_1_icon_13:before { content: '\2f'; } /* '/' */
.icon_set_1_icon_14:before { content: '\30'; } /* '0' */
.icon_set_1_icon_15:before { content: '\31'; } /* '1' */
.icon_set_1_icon_16:before { content: '\32'; } /* '2' */
.icon_set_1_icon_17:before { content: '\33'; } /* '3' */
.icon_set_1_icon_18:before { content: '\34'; } /* '4' */
.icon_set_1_icon_19:before { content: '\35'; } /* '5' */
.icon_set_1_icon_20:before { content: '\36'; } /* '6' */
.icon_set_1_icon_21:before { content: '\37'; } /* '7' */
.icon_set_1_icon_22:before { content: '\38'; } /* '8' */
.icon_set_1_icon_23:before { content: '\39'; } /* '9' */
.icon_set_1_icon_24:before { content: '\3a'; } /* ':' */
.icon_set_1_icon_25:before { content: '\3b'; } /* ';' */
.icon_set_1_icon_26:before { content: '\3c'; } /* '&lt;' */
.icon_set_1_icon_27:before { content: '\3d'; } /* '=' */
.icon_set_1_icon_28:before { content: '\3e'; } /* '&gt;' */
.icon_set_1_icon_29:before { content: '\3f'; } /* '?' */
.icon_set_1_icon_30:before { content: '\40'; } /* '@' */
.icon_set_1_icon_32:before { content: '\41'; } /* 'A' */
.icon_set_1_icon_31:before { content: '\42'; } /* 'B' */
.icon_set_1_icon_33:before { content: '\43'; } /* 'C' */
.icon_set_1_icon_34:before { content: '\44'; } /* 'D' */
.icon_set_1_icon_35:before { content: '\45'; } /* 'E' */
.icon_set_1_icon_36:before { content: '\46'; } /* 'F' */
.icon_set_1_icon_37:before { content: '\47'; } /* 'G' */
.icon_set_1_icon_38:before { content: '\48'; } /* 'H' */
.icon_set_1_icon_39:before { content: '\49'; } /* 'I' */
.icon_set_1_icon_40:before { content: '\4a'; } /* 'J' */
.icon_set_1_icon_41:before { content: '\4b'; } /* 'K' */
.icon_set_1_icon_42:before { content: '\4c'; } /* 'L' */
.icon_set_1_icon_43:before { content: '\4d'; } /* 'M' */
.icon_set_1_icon_44:before { content: '\4e'; } /* 'N' */
.icon_set_1_icon_45:before { content: '\4f'; } /* 'O' */
.icon_set_1_icon_46:before { content: '\50'; } /* 'P' */
.icon_set_1_icon_47:before { content: '\51'; } /* 'Q' */
.icon_set_1_icon_50:before { content: '\53'; } /* 'S' */
.icon_set_1_icon_51:before { content: '\54'; } /* 'T' */
.icon_set_1_icon_52:before { content: '\55'; } /* 'U' */
.icon_set_1_icon_53:before { content: '\56'; } /* 'V' */
.icon_set_1_icon_55:before { content: '\57'; } /* 'W' */
.icon_set_1_icon_54:before { content: '\58'; } /* 'X' */
.icon_set_1_icon_56:before { content: '\59'; } /* 'Y' */
.icon_set_1_icon_58:before { content: '\5a'; } /* 'Z' */
.icon_set_1_icon_59:before { content: '\5b'; } /* '[' */
.icon_set_1_icon_60:before { content: '\5c'; } /* '\' */
.icon_set_1_icon_61:before { content: '\5d'; } /* ']' */
.icon_set_1_icon_62:before { content: '\5e'; } /* '^' */
.icon_set_1_icon_63:before { content: '\5f'; } /* '_' */
.icon_set_1_icon_64:before { content: '\60'; } /* '`' */
.icon_set_1_icon_65:before { content: '\61'; } /* 'a' */
.icon_set_1_icon_68:before { content: '\64'; } /* 'd' */
.icon_set_1_icon_69:before { content: '\65'; } /* 'e' */
.icon_set_1_icon_70:before { content: '\66'; } /* 'f' */
.icon_set_1_icon_72:before { content: '\68'; } /* 'h' */
.icon_set_1_icon_73:before { content: '\69'; } /* 'i' */
.icon_set_1_icon_74:before { content: '\6a'; } /* 'j' */
.icon_set_1_icon_75:before { content: '\6b'; } /* 'k' */
.icon_set_1_icon_76:before { content: '\6c'; } /* 'l' */
.icon_set_1_icon_79:before { content: '\6d'; } /* 'm' */
.icon_set_1_icon_80:before { content: '\6e'; } /* 'n' */
.icon_set_1_icon_81:before { content: '\6f'; } /* 'o' */
.icon_set_1_icon_82:before { content: '\70'; } /* 'p' */
.icon_set_1_icon_83:before { content: '\71'; } /* 'q' */
.icon_set_1_icon_84:before { content: '\72'; } /* 'r' */
.icon_set_1_icon_85:before { content: '\73'; } /* 's' */
.icon_set_1_icon_86:before { content: '\74'; } /* 't' */
.icon_set_1_icon_87:before { content: '\75'; } /* 'u' */
.icon_set_1_icon_88:before { content: '\76'; } /* 'v' */
.icon_set_1_icon_49:before { content: '\77'; } /* 'w' */
.icon_set_1_icon_89:before { content: '\78'; } /* 'x' */
.icon_set_1_icon_90:before { content: '\79'; } /* 'y' */
.icon_set_1_icon_91:before { content: '\7a'; } /* 'z' */
.icon_set_1_icon_92:before { content: '\7b'; } /* '{' */
.icon_set_1_icon_93:before { content: '\7c'; } /* '|' */
.icon_set_1_icon_94:before { content: '\7d'; } /* '}' */
.icon_set_1_icon_95:before { content: '\7e'; } /* '~' */
.icon_set_1_icon_96:before { content: '\e800'; } /* '' */
.icon_set_1_icon_97:before { content: '\e801'; } /* '' */
.icon_set_1_icon_98:before { content: '\e802'; } /* '' */
.icon_set_1_icon_99:before { content: '\e803'; } /* '' */
.icon_set_1_icon_100:before { content: '\e804'; } /* '' */
.icon_set_1_icon_101:before { content: '\e805'; } /* '' */
.icon_set_1_icon_102:before { content: '\e806'; } /* '' */
.icon_set_1_icon_103:before { content: '\e807'; } /* '' */
.icon_set_1_icon_104:before { content: '\e808'; } /* '' */
.icon_set_1_icon_105:before { content: '\e809'; } /* '' */
.icon_set_1_icon_71:before { content: '\e80a'; } /* '' */
.icon_set_1_icon_67:before { content: '\e80b'; } /* '' */
.icon_set_1_icon_66:before { content: '\e80c'; } /* '' */
.icon_set_1_icon_48:before { content: '\e80d'; } /* '' */
.icon_set_1_icon_106:before { content: '\e810'; } /* '' */
.icon_set_1_icon_107:before { content: '\e811'; } /* '' */
.icon_set_1_icon_108:before { content: '\e812'; } /* '' */
.icon_set_1_icon_7:before { content: '\e866'; } /* '' */